{% load static %}
{% load goods_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "deps/css/bootstrap/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "deps/css/my_css.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bitter:wght@300&family=Narnoor&family=Raleway:wght@200;400&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    {% block css %}{% endblock %}
    <link rel="icon" type="image/png" sizes="32x32" href="{% static "deps/favicon/favicon-32x32.png" %}">
    <title>{{ title }}</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg" data-bs-theme="dark">
            <div class="container">
                <a class="navbar-brand  navbar_butt" href="{% url "main:index" %}">Главная</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown ">
                            <a class="nav-link navbar_butt dropdown-toggle" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Информация
                            </a>
                            <ul class="dropdown-menu" style="background-color: #a66b0d; color: white;">
                                <li><a class="dropdown-item" style="background-color: #a66b0d; color: white;" href="#">Доставка и оплата</a></li>
                                <li><a class="dropdown-item" style="background-color: #a66b0d; color: white;" href="#">Контактная информация</a></li>
                                <li><a class="dropdown-item" style="background-color: #a66b0d; color: white;" href="{% url "main:about" %}">Про нас</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link navbar_butt" href="{% url "user:users_cart" %}">Корзина</a>
                        </li>
                        {% if not user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link  navbar_butt" href="{% url "user:login" %}">Войти</a>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle  navbar_butt" href="#" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Мой профиль
                                </a>
                                <ul class="dropdown-menu"  style="background-color: #a66b0d;">
                                    <li><a class="dropdown-item  text-white"  style="background-color: #a66b0d;"href="{% url "user:profile" %}">Личный кабинет</a>
                                    </li>
                                    {% if user.is_admin or user.is_staff %}
                                        <li><a class="dropdown-item  text-white"  style="background-color: #a66b0d;"href="{% url "admin:index" %}">Админ панель</a></li>
                                    {% endif %}
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item  text-white"  style="background-color: #a66b0d;" href="{% url "user:logout" %}">Выйти</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                    <form class="d-flex" role="search" action="{% url "catalog:search" %}" method="get">
                        <input class="form-control me-2" style="background-color: #a66b0d; color: white;" type="search" name="q" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" style="background-color: #a66b0d; color: white;" type="submit">Поиск</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <section>
        <div class="container">
            <div class="row mt-4 position-fixed z-3">
                <div class="dropdown mb-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false" style="background-color: #a66b0d;">
                        Каталог товаров
                    </button>
                    <ul class="dropdown-menu" style="background-color: #a66b0d;">
                        {% tag_categories as categories %}
                        {% for category in categories %}
                            <li><a class="dropdown-item" style="background-color: #a66b0d; color: white;" href="{% url "catalog:index" category.slug %}">{{category.name}}</a></li>
                        {% endfor %}

                    </ul>
                </div>
                {% block modal_cart %}{% endblock  %}
            </div>
        </div>
        <div class="container">
            <div class="row mt-1">
                <div class="col-lg-2">
                </div>
                
                
                <div class="col-lg-10">
                    {% include "includes/notifications.html" %}
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </section>

    {% block footer %}{% endblock %}

    <script src="{% static "deps/js/jquery/jquery-3.7.0.min.js" %}"></script>
    <script src="{% static "deps/js/jquery-ajax.js" %}"></script>
    <script src="{% static "deps/js/bootstrap/bootstrap.bundle.min.js" %}"></script>
</body>

</html>